.navbar.second-navbar {
    margin-top: 59px;
    z-index:1
  }
  
  .dropdown-menu {
    z-index:2
  }
.bgYellow{
 background-color: #FFC045;
}
.navbar-expand .navbar-nav .nav-link {
    padding-left: 1.5rem;
}
@media (max-width: 576px) {
    .navbar-expand .navbar-nav .nav-link {
        padding-left: .2rem;
    }

}