body{
    color: #3d2514 !important;
    font-family: "Montserrat";
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}
.bgYellow{
 background-color: #FFC045;
}
.brown{
    color: #3d2514 !important;;
}
.nav1{
    justify-content: space-between;
    flex-direction: row;
}
.navRightText{
font-size: 16.667px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.overlaySmallText{
    font-size: 25px;
    font-weight: 400;
}
.overlayBigText{
    font-size: 41.667px;
    font-weight: 400;
}
@media (min-width: 768px)
{
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}
}
.bgText{
    color: #3D2514;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
background-color: #FFC045;
padding:15px;
margin-left: 35%;
margin-right: 35%;
}
.ProductSectionHeading{
    color: #3D2514;
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ProductSectionText{
    color: #3D2514;
text-align: center;
font-family: Montserrat;
font-size: 16.667px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.productHeading{
    color: #3D2514;
font-family: Inter;
font-size: 37.5px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.productText{
    color: #3D2514;
    text-align: center;
    font-family: Montserrat;
    font-size: 16.667px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.orderBtn{
    background-color: #BF2222;
    width: 195px;
height: 57px;
color: #FFF;
font-family: Inter;
font-size: 16.667px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
}
.upcoming{
    background-color: white;
    box-shadow: 12px 4px 8px 10px gray;
}
.footer{
    border: 10 solid black;
    background: url("/images/footer.png") repeat 0 0;
    height: 500px;
    width: 1300px;
}
.iconContainer{
    width: 20px;
height: 20px;
border-radius: 50%;
background-color: whitesmoke;
text-align: center;
}